.bc-main-wrapper{
    width: 300px;
    height: auto;
    display: block;
    font-family: Arial, sans-serif;
}
.bc-main-wrapper h3{
    padding-left: 5px;
    color: #666;
}
.bc-main-wrapper ul{
    margin: 0;
    padding: 5px;
}
.bc-main-wrapper ul li{
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 1px #CCC;
    -moz-box-shadow: 2px 2px 1px #CCC;
    box-shadow: 2px 2px 1px #CCC;
}
.bc-main-wrapper ul li:last-child{
    border: none;
}
